.container {
    background-color:rgb(221, 212, 212);
}

header {
   height:60px;
   font-weight: 700;
   font-size: 130%;
    margin: auto;
    line-height:inherit;
    text-align: center;
    vertical-align: middle;
    
    background-color: black;
    color: rgba(240, 248, 255, 0.932);
}

.ssbtn {
    display: block;
    width: 11%;
    margin: auto;
}

.ht{
    height: 37px;

}

.flex1 {
    display:flex;
    flex-wrap:wrap;
}

#super{  
    vertical-align:super;  
    font-size: medium;  
    color: red;
    }  

.formate{
    /* margin-top: 8.4%; */
    margin-top: 35px;
    margin-left: 7%;
    width: 30px;
}

@media screen and (max-width:580px) 
{

    .formate {
        margin-top: auto;
        margin-left: 0;
    }
    
}


/* .formate {
    width: 12p;

} */